[2014-04-07 19:20] we4sz opened #1 "JDBC"
Hi Roy!

So say i wan't to create an application with like 100 users with different user roles.
I want to create the users in a MySQL database and use them, I want also be able to "backtrace" an oath to see which privileges the user have. Would be awesome if you could show an example for this.

Thanks

//John

[2014-06-19 07:16] yasitha999 opened #2 "How to use refresh token?"
Hi Roy,

Thanks for the excellent example, Its perfect and working fine.
I just wanna know how to use refresh tokens in this example.
Currently its not providing refresh token, if authentication token expired, I have to call authentication URL and retrieve the token back.
Instead i would like to use refresh token to retrieve new tokens. Please provide us some examples.

[2014-08-19 09:22] #2 closed, assigned to nobody

[2014-09-10 19:48] nandhusriram opened #6 "404 on oauth/token"
I am receiving 404 while token generation .

curl -X POST -vu clientapp:123456 http://localhost:8080/spring-rest-service-oauth-0.1.0/oauth/token -H "Accept: application/json" -d "password=spring&username=roy&grant_type=password&scope=read%20write&client_secret=123456&client_id=clientapp"

[2014-10-17 08:13] mbury opened #7 "Not working greetingAuthorized() test"
Can you explain why test greetingAuthorized() not working?

[2014-10-21 06:31] legshort opened #8 "401 Response after calling "/""
OAuth2ServerConfiguration.java

[code]

Even thought, "/" url is allowed to anyone, 401 status code is responded at browser while your test case is green.

Thanks.

[2014-10-21 17:52] #8 closed, assigned to nobody

[2014-11-22 01:58] #7 closed, assigned to nobody

[2015-01-08 16:53] kibbled opened #11 "Getting to work with Forms"
First thanks for this sample it was very helpful and one of the few working samples I could find with Spring Boot and OAuth2.  Is there a way to get this to work alongside Spring Form authentication?

*.formLogin().loginPage("/login").permitAll().and().logout().permitAll().and()*

Getting the following error:
*An Authentication object was not found in the SecurityContext*

[2015-01-08 17:03] royclarkson commented on #11
Thanks for the feedback! I built this because I had run into the same issue. I wanted a basic sample app that integrated all these features. Regarding Spring Forms, that's out of scope for my goals with this app, but @rwinch may be able to provide some guidance.

[2015-01-08 17:09] rwinch commented on #11
@kibbled If you can provide a more concrete example of what you have and what you are looking for I can certainly see if I can help.

[2015-01-08 17:16] kibbled commented on #11
Basically this added to the working sample from this repo:

[code]

[2015-01-10 20:57] mariubog opened #12 "curl and details"

[2015-01-10 21:13] #12 closed

[2015-01-13 13:46] cjstehno opened #13 "Oauth2RestTemplate example"
This is a great example project, but it would be nice to have an example using the `OAuth2RestTemplate` along with the provided `curl` example.

[2015-01-13 14:20] cjstehno commented on #13
I was able to get this figured out and have created a [Gist](https://gist.github.com/cjstehno/4fcc88f9266ed4ae268c) of what I did - it's basically just an integration test as example. You are welcome to use it, or I can fork your project and provide a pull request if you'd like me to.

[2015-01-13 15:44] mariubog commented on #13
here I created an example for your needs
https://github.com/mariubog/oauth-client-sample

[2015-01-13 21:05] cjstehno commented on #13
@mariubog - thanks, the integration test works; however, I see what you are saying about requiring a username and password. I will take a look at your example. I am new to OAuth so I am still trying to figure out how all the pieces come together. :-)

[2015-01-14 13:59] royclarkson commented on #13
This is good stuff. An `OAuth2RestTemplate` client example would be a very nice addition. Thanks for the suggestion!

[2015-01-30 03:04] philippeboyd commented on #11
I'm facing the same problem. Currently working on a website that has a fully working WebSecurityConfig like @kibbled with

[2015-01-30 04:53] mariubog commented on #11
I think the issue is if two HttpSecurity configuartions are for the same path then the last one wins, otherwise if they are configured for different endpoints they work fine

[2015-01-30 05:18] mariubog commented on #11
@Configuration
	@EnableResourceServer
	protected static class ResourceServerConfiguration extends ResourceServerConfigurerAdapter {

		@Override
		public void configure(ResourceServerSecurityConfigurer resources) {
			// @formatter:off
			resources
				.resourceId(RESOURCE_ID);
			// @formatter:on
		}

		@Override
		public void configure(HttpSecurity http) throws Exception {
			// @formatter:off

[2015-01-30 17:45] philippeboyd commented on #11
Hi @mariubog,

thanks for your reply! I'll give it a try later today. You can add **java** after the ``` when you wrap your code.

<pre>
[code]
[code]
[code]
[code]
// etc.
</pre>

[2015-01-31 04:04] mariubog commented on #11
I think the proble has to do with the filter chains, when we create above two, web security configuration and oauth configuration we get three filter chains :

1First filter chain it is default filter chain only difference between other two is that it uses BasicAuthenticationFilter
this are the matchers patterns it uses
`[ OrRequestMatcher [requestMatchers=[Ant [pattern='/oauth/token'], Ant [patte

[2015-01-31 04:54] mariubog commented on #11
I think the problem has to do with the filter chains, when we create above two, web security configuration and oauth configuration we get three filter chains :

1First filter chain it is default filter chain only difference between other two is that it uses `BasicAuthenticationFilter` this are the matchers patterns it uses:
[ OrRequestMatcher [requestMatchers=[Ant [pattern='/oauth/token'], Ant [pa

[2015-01-31 04:55] philippeboyd commented on #11
Ok so it's working with your solution! I think I understand now... By using the following in the ResourceServerConfiguration extends ResourceServerConfigurerAdapter

[code]

I'm able to use web security and Oauth security for the path /api/**

I'm pretty sure it's because when it calls configure(HttpSecurity http) it gets the same HttpSecurity object (singleton I presume) and continues the configu

[2015-01-31 21:41] mariubog commented on #11
I don think you can use both for the same path, it is the matter of the security filterchain selection so if they both use the same path it may be an issue, can you post both of your configurations?
 and the `HttpSecurity` objects are different objects but it does not matter they are only configuration objects used to configure filter that does real job

[2015-02-01 00:16] philippeboyd commented on #11
This is my Web config

I also added an @Order(Ordered.HIGHEST_PRECEDENCE) to my web configure(HttpSecurity) method to be sure my web config will load first.

[code]

[2015-02-01 00:33] mariubog commented on #11
Yup it works because you have different paths

[2015-02-03 17:05] rwinch commented on #11
Sorry for being late to the party I have been on Holiday. It looks like you got this figured out though?

[2015-02-04 00:04] philippeboyd commented on #11
@rwinch yeah I got it working :) thanks!

[2015-02-04 15:28] royclarkson commented on #11
@kibbled thanks for the original question! Seems like the issues have been worked through in the discussion. I'm closing this issue, but anyone feel free to submit a PR if you feel there is something useful to add to the app.

[2015-02-04 15:28] #11 closed

[2015-02-08 09:33] Artgit opened #16 "https support"
Thanks for an awesome example !

Could you please extend the source in order to work with oauth2 over https ?

Thanks in advance!

[2015-02-08 10:16] Artgit opened #17 "separate AuthorizationServer from ResourceServer(single sign-on)"
Could you pleae show an example where AuthorizationServer is separeted from ResourceServer.
For example I have two different web applications with REST API on different hosts and ports. I'd like to implement something like SSO(single sign-on) like a third application with a oauth2 over https protocol.

The main question is how to link my existing web applications with the new oauth2 server ? What

[2015-02-08 18:32] mariubog commented on #16
https://github.com/royclarkson/spring-rest-service-oauth/pull/14

[2015-02-08 18:59] Artgit commented on #16
@mariubog , thank you very much, that's exactly what I'm looking for !

Also, I have noticed "cookies.txt" in resources folder. What is the purpose of this file ?

[2015-02-08 19:02] mariubog commented on #17
authorization server issues token, resource server provides access to resource based on that token but it has to have a way to validate it to confirm it is the token issued by authorization server, in royclarkson's example tokens are stored in memory `private TokenStore tokenStore = new InMemoryTokenStore();` by authentication server but it is within same application, when dealing with separate im

[2015-02-08 19:12] Artgit commented on #17
@mariubog , thanks for your answer!

Please let me summarize - I have two application - first is oauth2 AuthorizationServer(my SSO point) and the second application is some business REST service API. So, based of this example, I need to move implementation of ResourceServerConfiguration from first to my second application and implement some kind of shared TokenStore for both of them, for example b

[2015-02-08 19:25] mariubog commented on #17
whichever endpoints you want to secure with oauth thats where your resource server has to be, in you case REST endpoints, yes probably some kind of database and than provide secure endpoint to access that database and verify that token is valid, I have not done it but would suggest to take good look on both `AuthorizationServerEndpointsConfigurer` and `ResourceServerSecurityConfigurer` they offer

[2015-02-08 19:28] Artgit commented on #17
@mariubog , thanks !

[2015-02-09 23:04] philippeboyd opened #18 "Custom Access and Refresh OAuth2 Token ?"
Hey guys,

I know those token spring generates a UUID formatted string. One of my concerns is that it's not really "unique"; it is possible for the UUID to create a token exactly the same as a previous one (of course the odds are VERY small but still possible).

I'm using a database to store my user's token and I'm not sure if Spring checks if the token already exists before creating one in the da

[2015-02-14 15:44] raedobh commented on #1
@we4sz check this #15

[2015-03-03 18:09] royclarkson commented on #1
Thanks to @raedobh, I think this is covered now.

[2015-03-03 18:09] #1 closed

[2015-03-03 18:12] royclarkson commented on #17
@mariubog thanks for the information! Agreed that it is beyond scope of this example.

[2015-03-03 18:12] #17 closed

[2015-03-03 21:31] royclarkson commented on #16
#14 has been merged into master.

[2015-03-03 21:31] #16 closed

[2015-04-13 22:47] bxqgit opened #19 "Refresh token request doesn't work, when used with Spring Security OAuth 2.0.7"
Refresh token request doesn't work, when used with Spring Security OAuth 2.0.7

Server returns:
{"error":"server_error","error_description":"UserDetailsService is required."}

Server log:
TokenEndpoint -> Handling error: IllegalStateException, UserDetailsService is required.

[2015-04-14 00:54] mariubog commented on #19
Does regular access token request work for you?
 Because I have no problem getting refresh token with this request:
`curl -X POST -vu clientapp:123456 http://localhost:8080/oauth/token -H "Accept: application/json" -d "refresh_token=ca9c1436-26d3-4121-8905-db77cf1bf4d7&client_id=clientapp&client_secret=123456&grant_type=refresh_token"`

You just have to replace above refresh token according to wha

[2015-04-14 01:57] mariubog commented on #19
works with 2.0.5 version but with 2.0.7  it crashes  they must have messed something up with getting `userDetailsService` from authetication manager but you can just set `UserDetailsService` by yourselve like this:

[code]
it has to be changed obviously in this class :
https://github.com/royclarkson/spring-rest-service-oauth/blob/master/src/main/java/hello/OAuth2ServerConfiguration.java

you could

[2015-04-14 02:22] mariubog commented on #19
I posted full code here:
https://github.com/royclarkson/spring-rest-service-oauth/pull/20

[2015-04-14 02:45] royclarkson commented on #19
I think this may be the enhancement where this was changed: https://github.com/spring-projects/spring-security-oauth/issues/401

[2015-04-14 03:05] royclarkson commented on #18
Hi, I recommend asking at [StackOverflow](http://stackoverflow.com/questions/tagged/spring-security-oauth2). Others may have more information on how to accomplish this. Regarding the use of UUIDs, I'm not sure there is really concern of uniqueness. If you feel it is a bug or enhancement, then please open an issue on the SpringSecurity OAuth project. Thanks!

[2015-04-14 03:30] philippeboyd commented on #18
Done, here's the link for future reference : http://stackoverflow.com/questions/29618658/spring-how-to-create-a-custom-access-and-refresh-oauth2-token

Thanks Roy!

[2015-04-14 03:30] #18 closed

[2015-04-14 16:20] royclarkson commented on #19
@dsyer is this an expected change in 2.0.7, should it be submitted as a bug?

[2015-04-14 17:37] dsyer commented on #19
Sort of expected (@rwinch might like to see this as well). The change was to try and lift the `UserDetailsService` out of the global `AuthenticationManager` if there is one - otherwise you have to set it explicitly as in the snippet above (you can even set it to null I think, but it's better to have the protection if you are using refresh tokens). If your app has a custom user details service then

[2015-04-14 19:27] royclarkson commented on #19
@dsyer ok, thanks for the clarification.

[2015-04-16 21:22] royclarkson commented on #19
Resolved by #22

[2015-04-16 21:22] #19 closed

[2015-05-22 21:53] mkanchwala opened #23 "Remove InMemery Data source and Apply JDBC data source"

[2015-05-26 06:23] mkanchwala commented on #23
Maybe This could be some help:

https://github.com/mkanchwala/sample-spring4/tree/master/country

[2015-06-17 10:43] dkakollu opened #24 "AJAX call how to pass (-vu clientapp:123456)"
HI Roy,

Thank you for spring-rest-service-oauth.

I have small issue when I try to run with curl command its working fine no issues, but when we try to
run with AJAX call how to  pass (-vu clientapp:123456), without -vu clientapp:123456 I am getting  "Full authentication is required to access this resource", please could you suggest me on this.

I am trying with swagger also, for principal parame

[2015-06-17 11:27] k4r7h1k commented on #24
Instead of clientapp:123456, you should set Authorization header to your ajax call.

It will look something like this.
Authorization = Bearer <token>

[2015-06-17 15:23] dkakollu commented on #24
Hi Karthik Srinivasan,

Thank you for response, but not working.

when I ran with curl command:

curl -X POST -vu clientapp:123456 http://localhost:8080/oauth/token -H "Accept: application/json" -d "password=admin&username=admin&grant_type=password&scope=read%20write&client_secret=123456&client_id=clientapp"

with out passing  -vu clientapp:123456 on curl also I am getting same error "
 "Full auth

[2015-06-17 16:35] royclarkson commented on #24
This is just standard OAuth 2 flows illustrating a password grant (based on HTTP Basic auth). There are different types of OAuth 2 flows. Regardless of the client technology and language, you'll need to construct the HTTP requests in a similar manner. See this [test](https://github.com/royclarkson/spring-rest-service-oauth/blob/master/src/test/java/hello/GreetingControllerTest.java#L78-L107) as an

[2015-06-17 16:40] royclarkson commented on #24
the `-u` curl parameter is simply a shortcut for setting the auth header in the request

[code]

[2015-06-17 16:51] k4r7h1k commented on #24
curl -X POST http://localhost:8080/oauth/token -H "Accept: application/json" -H "Authorization: Basic Y2xpZW50YXBwOjEyMzQ1Ng==" -d "password=admin&username=admin&grant_type=password&scope=read%20write&client_secret=123456&client_id=clientapp"

This may work

[2015-06-25 20:19] ddymke opened #25 "Extend Oauth2 Example"
Hello out there,

currently I do my first steps with Spring Security. I started with the Oauth2 example project.
But I reached a point where one Oauth2Resource has to talk to another Resource.

I read a lot and tried even more, but I dont get it..
So would it possible to extend the example with another resource which just calls the exisiting resource with an Oauth2RestTemplate?

That would be awes

[2015-06-25 20:40] mariubog commented on #25
I wrote little example that works with Roy's `spring-rest-service-oauth`, here is the link
https://github.com/mariubog/oauth-client-sample, I am not sure if this is what you looking for though

[2015-06-25 21:07] ddymke commented on #25
Sorry,  I posted in the wrong window >.< But I will give it a try, thanks

[2015-06-25 21:09] #25 closed

[2015-06-25 21:11] mariubog commented on #25
No problem, the example I gave you uses `Oauth2RestTemplate` as the class to establish connection with oauth service

[2015-06-26 13:27] royclarkson commented on #25
@mariubog thanks for sharing!

[2015-06-30 16:41] royclarkson opened #26 "Utilize Spring REST Docs"
http://docs.spring.io/spring-restdocs/docs/1.0.x/reference/html5/#getting-started

[2015-07-16 21:03] daddykotex opened #27 "Question"
I'm using two sources as guides to build an OAuth2 Authorization Server and a Resource Server. Your tutorial is one of them, and the other one is this [tutorial](https://raymondhlee.wordpress.com/2014/12/21/implementing-oauth2-with-spring-security/).

I'd like to use a simple /oauth/authorize page like in the tutorial. But when I hit that URL over GET, I'm redirected with a 302 to /login, and if I

[2015-07-16 22:40] mariubog commented on #27
Hi
Probably would be helpful if you sent error messages but my guess would be your CSRF token errror on POST request is from the client side authentication on client side before you even try to authorize with Oauth  authorization server.  What happens if you disable csrf() token on your web security configuration on oauth client?
 I mean precisely this paragraph
"Also, for the following to work, y

[2015-07-17 01:03] daddykotex commented on #27
Let's say I go to :
http://localhost:8080/oauth/authorize?response_type=code&client_id=clientapp&redirect_url=http://client_host?key=value&scope=read

I get redirected to /login, which is not mapped, so I get this error :

[code]

If I use the POST, the first time I get a 403 error regarding the CSRF:
[code]

Any other subsequent time, I get this :
[code]

[2015-07-17 01:06] daddykotex commented on #27
I'm wondering why the redirection in the first place. I noticed it only happens when a  WebSecurity `@Configuration` is there (extending the `WebSecurityConfigurerAdapter`).

[2015-07-17 01:43] mariubog commented on #27
You are redirected to login because it is basically how Oauth works.
In order to be authenticated by Oauth server you have to be authenticated on the client side first in your case. How do you set your web security configuration? Your error has nothing to do with Oauth. You are not reaching Oauth server yet .
Look at Roy's example and curl requests, he posts in his curl username and password and t

[2015-07-17 13:57] daddykotex commented on #27
Ok, I think I missed one of the core principles of the exchange. When you are redirected to `/oauth/authorize`, as a user, you must be logged because you need to give permission to the client so it can access your data. The only way an authorization code is generated is if the user is logged in and grant permission to the client.

[2015-07-17 13:57] #27 closed

[2015-07-17 13:57] daddykotex commented on #27
Thanks again, sorry for that, the mistake is on my side!

[2015-07-19 10:35] yalmuhaidib opened #28 "403 Forbidden on /oauth/check_token"
after acquiring a token from /oauth/token, I want to check if the token is valid or not by calling /oauth/check_token path
[code]

tried with GET also and got the same error response:
[code]

spring configures the mapping
[code]

how I can check the token validity?

[2015-07-19 20:09] mariubog commented on #28
Look here:
https://github.com/spring-projects/spring-security-oauth/blob/master/spring-security-oauth2/src/main/java/org/springframework/security/oauth2/config/annotation/web/configurers/AuthorizationServerSecurityConfigurer.java

The default setting is `private String checkTokenAccess = "denyAll()";`

So maybe try in `AuthorizationServerConfiguration`

[code]
and authenticate yourself, or `permit

[2015-07-21 23:45] sridhar1982 commented on #28
@mariubog I tried what you suggested. It did not work either. possible I am doing my curl wrong

[code]

[2015-07-22 01:10] mariubog commented on #28
If all permitted("permitAll()"):
`curl -X POST http://localhost:8080/oauth/check_token -d "token=40ec1ebd-a6a6-4b1c-a506-a9dcf291a056" `
Notice that it returns some sensitive data.

If authentication required("isAuthenticated()":
`curl -X POST http://localhost:8080/oauth/check_token -vu clientapp:123456 -d "token=12702db1-723b-4d65-92b9-ede3bae05ac7" `

`-vu clientapp`
-v  makes it verbose
-u  all

[2015-07-22 03:38] sridhar1982 commented on #28
Thanks. this helped a lot.
Upon
[code]

I get
[code]

upon this

[code]

I get
[code]

why is `expires_in` in the first call above and `exp`  in the second call different. (I assume they are expiration times for tokens.)  what units (seconds?) are expressed?

Also how to exchange refresh token for access token expiry to get new access token?

Thank you very much for help

[2015-07-22 05:38] sridhar1982 opened #29 "how to avoid password from serialization in User entity"
This is more of a question.

I do not want the password of user available in controller. After making the following change to the controller,   I see the password of the User returned.

[code]

In order to avoid password, I add the following in the `User Entity`.

[code]

I still see the password returned. Any help here will be very useful.

Thanks

[2015-07-22 13:52] royclarkson commented on #27
@mariubog thanks for all the help replying to questions!

[2015-07-22 19:25] sridhar1982 opened #30 "usage of /oauth/authorize vs /oauth/token ?"
This is again a question:

In this excellent material, @royclarkson has shown how to use `/aouth/token` to get the access token

[code]

I noticed in this [tutorial](https://raymondhlee.wordpress.com/2014/12/21/implementing-oauth2-with-spring-security/) and in [here](https://spring.io/guides/tutorials/spring-security-and-angular-js/#_sso_with_oauth2_angular_js_and_spring_security_part_v) that two

[2015-07-22 23:43] yalmuhaidib commented on #28
I've used
     oauthServer.checkTokenAccess("isAuthenticated()");
and it's working, but I agree with sridhar1982 on what he is asking:
why is expires_in and exp are different?

expires_in is expressed in seconds, I've changed the ClientDetailsServiceConfigurer  access Token Validity to 60 sec..
[code]

but still getting exp as a static number

[2015-07-23 00:02] sridhar1982 commented on #28
@yalmuhaidib: how did you change the access Token validity to 60 sec. can you give the code snippet here. Also any idea on how to change the validity time for refresh token ?

[2015-07-23 00:08] yalmuhaidib commented on #28
@sridhar1982,
just override the configure for ClientDetailsServiceConfigurer

[code]

[2015-07-23 00:21] yalmuhaidib commented on #28
I think is't a bug in Spring ```/check_token``` endpoint.. I've checked sping code, the ```/check_token``` mapping is using ```DefaultAccessTokenConverter.convertAccessToken``` method to return the response, this  method is not calculating the difference in seconds

[code]

while in ```/oath/token``` endpoint it's using jackson serializer ```OAuth2AccessTokenJackson2Serializer```and it's subtracti

[2015-07-23 01:37] sridhar1982 commented on #28
any input on how to set expiry for refresh token and how to exchange refresh token for a new access token once an access token is expired?

[2015-07-23 12:33] yalmuhaidib commented on #28
@sridhar1982, the refresh token does not have expiry, it's used to acquire a new access token..
"The refresh token which can be used to obtain new access tokens using the same authorization grant"
from [Spring docs OAuth2AccessToken](http://docs.spring.io/spring-security/oauth/apidocs/org/springframework/security/oauth2/common/OAuth2AccessToken.html)

now how to use it, check the README in this pr

[2015-07-23 12:33] #28 closed

[2015-07-25 05:46] odraudek99 opened #31 "QUESTION. how can I be authorized with angularjs or postman?"
postman app chrome clinte restfull

[2015-07-25 05:46] odraudek99 commented on #31
thanks

[2015-08-03 05:49] roywang1985 opened #33 "Change InMemoryTokenStore to JdbcTokenStore"
I just change InMemoryTokenStore to JdbcTokenStore and use JdbcClientDetailsService.
It was work when curl grant_type with password.
But it failed when reflesh token.
{
  "error" : "unauthorized",
  "error_description" : "User null does not exist!"
}
I found some message in Spring docs.
"userDetailsService: if you inject a UserDetailsService or if one is configured globally anyway (e.g. in a Globa

[2015-08-03 08:47] #33 closed

[2015-08-03 08:48] roywang1985 commented on #33
Sorry, It's my fault.There is one class User is not implements Serializable

[2015-09-21 20:58] royclarkson commented on #31
Take a look at this blog series. It may be helpful. https://spring.io/guides/tutorials/spring-security-and-angular-js/

[2015-09-24 13:41] Jdruwe opened #34 "@EnableWebMvcSecurity is deprecared"
I was looking into the code and saw the "@EnableWebMvcSecurity" annotation. I am fairly new to Spring so I went online to find out what it does but it seems to be deprecated as of spring 4.0
(http://docs.spring.io/autorepo/docs/spring-security/4.0.x/reference/html/mvc.html)

If I remove the annotation the greetingAuthorized test fails, do you have any idea on how to fix this?

[code]

[2015-09-24 19:06] royclarkson commented on #34
If you look at the dependency tree, Spring Security 3.2.8 is being used. `@EnableWebMvcSecurity` is [deprecated in Spring Security 4.0](https://jira.spring.io/browse/SEC-2790). It looks like Spring Boot 1.3 has been updated to use Spring Security 4. So when this project moves to boot 1.3, we should be able to remove that annotation. You can try updating to Boot 1.3.0.M5 and see if this is correct.

[2015-09-30 23:40] 28formica77 opened #35 "Adding new users"
Hi - I have this working nicely but want to be able to add new users. I can't work out how to get the entries into the table that maps users to roles. If I try to save the object without the role mapping I get a constraint violation but the id is only set on save so how can I do this? Any advice greatly appreciated.

Thanks

Anthony

[2015-10-28 16:13] royclarkson commented on #35
In this sample app the users are being loaded from `/src/main/resources/import.sql`. How are you trying to add users?

[2015-10-28 16:14] #34 closed

[2015-10-28 20:10] bitsofinfo opened #39 "Question trying this w/ existing project"
Hi, - so I have an existing SpringBoot project.

a) I added this at the top of my main @Configuration class

[code]

b) The contents of the above 2 classes are the same as what is in this project

c) I startup my app and see this as expected in the logs:

[code]

d) When I go to /greeting I get the following as expected:

[code]

e) When I attempt to POST to /oauth/token I see the below in the log

[2015-10-28 21:08] bitsofinfo commented on #6
seeing a similar issue @ #39

[2015-10-29 15:31] 28formica77 commented on #35
I wanted to add users from a client registration page so I created an appropriate method in the controller. I have this working with custom SQL inserts, first to the user_info table then to the user_role table. This works fine but I am bypassing most of the hibernate code with custom SQL. I never found a way of saving a user object [userRepository.save(newUser)] with a valid hashset to include the

[2015-10-30 13:59] bitsofinfo commented on #39
The problem was that in my main @Configuration annotated class I had a dispatcherServlet @Bean registered, which was intercepting all the requests. Once I changed the method name to something other than dispatcherServlet() it fixed the issue:

[2015-10-30 13:59] #39 closed, assigned to nobody

[2015-11-16 08:23] soulmachine opened #40 "How to make this project scalable?"
Since this project uses [clients.inMemory()](https://github.com/royclarkson/spring-rest-service-oauth/blob/master/src/main/java/hello/OAuth2ServerConfiguration.java#L96), it stores all access tokens in a single machine's memory, which makes it impossible to run multiple servers behind a load balancer.

To make this project scalable, I come up with three ideas for now:
1. Use `clients.jdbc()` and s

[2015-11-16 08:29] soulmachine commented on #35
I think create a rest API named `/register` in a controller and add `.antMatchers("/oauth/**", "/register").permitAll()` to `ResourceServerConfiguration.configure()` will do the trick.

[2015-11-16 13:41] soulmachine opened #41 "Add a RESTful api to revoke access tokens?"
Is there an API such as `/oauth/token/revoke` that can revoke access tokens?

[2015-12-03 17:53] cenobyte321 opened #43 "NullPointerException on /oauth/check_token with valid token"
NOTE: I'm closing this issue and posting it to the appropriate project.

Hello, I have the following configuration:

[code]

[code]

Calling /oauth/token returns a token:

[code]

Calling /oauth/check_token with an invalid token returns a non-valid message:

[code]

Calling /oauth/check_token with an expired token returns an expired message:

[code]

But calling /oauth/check_token on a valid and n

[2015-12-03 17:57] #43 closed, assigned to nobody

[2015-12-08 14:38] richardpaps opened #44 "Trying to use an html page to get OAuth code instead of curl"
This repo has been very helpful in learning about OAuth so thank you!

I am understanding the process of getting a code with the terminal commands, but I was trying to do this by using an html login page. Have any quick advice on using a login page to get the OAuth code and authenticate a user?

Thanks again.

[2016-01-16 12:31] DILEEP-YADAV opened #45 "How to access spring-rest-service-oauth to client device ?"
Hi ! @royclarkson
Question is that How to access same curd command using browser at local host?
to access web service at client side device ,  I mean , what url hit to server to access service from client  as cordova app.

[2016-01-16 12:37] DILEEP-YADAV commented on #45
curl -X POST -vu clientapp:123456 http://localhost:8080/oauth/token -H "Accept: application/json" -d "password=spring&username=roy&grant_type=password&scope=read%20write&client_secret=123456&client_id=clientapp"

How to convert curl command to simple url to hit as

 http://localhost:8080/oauth2/oauth/token?grant_type=password&client_id=rajith-client-id&client_secret=12345&username=rajith&password=

[2016-01-25 07:51] wimdeblauwe opened #46 "Facebook/twitter login?"
Thanks for the sample code, really helpful! Is it possible to extend the example to provide facebook and twitter login? Or do you have to use something different if you want to do this?

[2016-03-24 04:36] brubraz opened #47 "How to force Spring Security OAuth 2 to use JSON instead of XML?"
I've created Spring MVC application and set up Spring Security OAuth 2. While calling methods from my brower I get XML:

[code]

Instead of JSON:

[code]

Browser sends following header:

`Accept:text/html,application/xhtml+xml,application/xml;q=0.9,image/webp,*/*;q=0.8`

When I set json accept header I get JSON. I need to force my authorization server always send JSON. Haven't found any solution.

[2016-03-24 12:18] jbarbaran opened #48 "UserRepositoryUserDetails has to implement abstract method getPassword"
Hi,

I'm trying to use your project as base and I'm getting that UserRepositoryUserDetails has to implement abstract method getPassword. In addition, I don't have methods: getRoles(), getLogin()

I guess it is an issue related to Spring version. Is there anyway to fix it?

Thank you very much!

[2016-03-24 12:23] jbarbaran commented on #48
I've just realized that I didn't have implemented those methods on User class.

Closing the issue

[2016-03-24 12:23] #48 closed, assigned to nobody

[2016-03-25 07:35] thilaktp opened #49 "If Gson mapper is chosen, the oauth token response is empty"
If I add `spring.http.converters.preferred-json-mapper=gson` to `application.properties` and add the gson dependency, the oauth token is not returned.

Removing the `spring.http.converters.preferred-json-mapper=gson` from the properties makes it work again. Any ideas? I want to use gson for all return types.

[2016-03-25 07:38] thilaktp commented on #49
[code]

[2016-04-04 22:00] royclarkson commented on #46
@wimdeblauwe I think what you are looking for is covered by the [Spring Social](http://projects.spring.io/spring-social/) project. Here is a sample application that illustrates how to use Spring Social to connect to Facebook, Twitter, and LinkedIn.

https://github.com/spring-projects/spring-social-samples/tree/master/spring-social-showcase-boot

[2016-04-06 10:13] aksappy commented on #47
@burnaz I kind of get JSON always in my current Spring Security configuration. Can you post the dependencies version please?

[2016-04-15 08:45] audtjddld commented on #28
thanks for all :)

[2016-04-17 12:36] morteza57 opened #50 "Connect This Project To Mysql"
Hello my friends how can connect this project to Mysql database and create tables and  read and write to that tables.

[2016-04-19 03:35] Eitol commented on #50
Hola, se que no es MySQL, pero con esta BD en PostgreSQL pude hacer correr el proyecto, solo debes migrarla a MySQL

##

## -- PostgreSQL database dump

-- Dumped from database version 9.1.21
-- Dumped by pg_dump version 9.1.21
-- Started on 2016-04-18 22:56:54 VET

SET statement_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SET check_function_bodies = false;
SET

[2016-04-19 04:27] morteza57 commented on #50
Dear my friend,

First of all please write the messages in English, and i don't need to create tables and schema in database i need how to connect the sample project to database like Mysql,Thank you in advance.

[2016-04-20 03:09] Eitol commented on #24
Hi, What does Y2xpZW50YXBwOjEyMzQ1Ng == ?

[2016-05-09 10:18] SoufianeFZ opened #51 "Oauth key annotations are not activated in spring MVC application"
Hey every one.
 I made a **Spring MVC** version not a boot of this master project, but it seems that spring context does not activate **OAuth** annotations like @EnableAuthorizationServer and @EnableResourceServer.
 I have to make a spring mvc version not spring boot.
 Any suggestion will be appreciated, because i can't do anything, i've been searching and searching but with no results.

this is m

[2016-05-10 04:46] lndt-cv commented on #24
Hi, What does Y2xpZW50YXBwOjEyMzQ1Ng == ?
=> This is `String authorization = "Basic " + new String(Base64Utils.encode("clientapp:123456".getBytes()));`

I have tried many way but unsucceed. I have problem with "-vu clientapp:123456". I run unit test "greetingAuthorized" is ok.
What is "clientapp:123456" and how to use? (I have read the " royclarkson commented on Jun 17, 2015" but not clearly)

![2

[2016-06-07 19:23] #35 closed

[2016-07-07 09:36] 0lexandr commented on #50
Dear "Morteza57". I've used MySQL in this app https://github.com/Pivopil/spring-boot-oauth2-rest-service-password-encoding. Use code and properties from "rest" module to configure your app. All the best.

[2016-07-24 17:54] juanjosesanchezesteban opened #52 "Deployed in AWS Elastic Beanstalk"
Hi,
Does this configuration work properly in AWS with a balancer ahead? To properly functioning balancing would have to be in session and not by requests. The access token access is stored in the memory of each instance, once the access token has been assigned to the user all requests would have to go to the same instance.
I hope I explained :-)
Thank you!

[2016-08-22 03:15] liuyatao commented on #30
@sridhar1982  This is also what I  am confused. And thanks for you tutorial.

[2017-02-11 09:39] chauhanvipul87 commented on #19
Thank you very much. I tried your solution and working great..

[2017-02-15 20:04] ncastrocosta commented on #19
It also worked for me. However, what should I do if I want authentication via LDAP? I already have authentication via LDAP in my WebSecurity configuration.

[2017-03-23 14:46] muthukumar9 opened #53 "What is User credentails to get access token"
Hi,

I have checked out the code and tried executing in my local, however I am getting response as Bad Credentials. I am unsure what is the username and password to get the access token ?

Below is the request/response payloads, let me know if I am wrong anywhere.
curl -X POST -vu clientapp:123456 http://localhost:8080/oauth/token -H "Accept: application/json" -d "password=spring&username=roy&gran

[2017-05-09 18:25] pacmandv commented on #53
Hi @muthukumar9 ,

as i see you have an incorrect parameter

read%20write should be read_write

[2017-06-22 17:30] letientai299 opened #54 "Project is broken on Spring Boot 1.5.4.RELEASE"
I've tested this project with the latest Spring Boot version, and found that this is not work as expected.

[code]

We got redirection to `/login` instead of the unauthorized error.

Steps to reproduce.

1. Replace Spring Boot version in `build.gradle`.
[code]

2. Remove `WebInitializer.java`, since this cause some issue with latest Boot version.

[code]

3. Run `bootRun` and send GET request usin

[2017-08-23 07:41] svlada commented on #53
@pacmandv @royclarkson

It's a bit strange for front-end application to pass in client_secret=123456&client_id=clientapp paramaters.

What do you suggest to do in case where we have SPA (react, angular) interacting with this setup?

[2017-08-23 14:38] marcellom commented on #49
Hi, I have this problem as well. I created an issue on the official spring repo: https://github.com/spring-projects/spring-security-oauth/issues/1143

[2017-09-12 20:25] SayedTCS commented on #13
Very nice and simple example to understand the Oauth02 security implementation.
It would be further good , if we can get a Sample Service(greeting) as a separate component to understand the necessary configuration  to protect the service .

Below sample code to get the token can be used:

  final String uri = "http://localhost:8080/uaa/oauth/token";

		    RestTemplate restTemplate = new RestTempl

[2017-11-10 16:01] sdziubka commented on #19
Migration to 2.0.5 resolves issue.
Thanks!

[2018-01-17 15:47] abreu-dev commented on #54
@letientai299 how did you fixed this issue?

[2018-01-17 15:52] letientai299 commented on #54
@andreabreu-me, Honestly, I forgot how did it went through. Right now I'm using spring boot `1.5.9.RELEASE`, and I built my auth-service myself, using this project as reference only.

[2018-01-17 15:54] andreabreu-me commented on #54
@letientai299 thanks 👍

[2018-11-29 06:52] shahbour opened #55 "UserDetailsService is required for two providers"
I am facing a similer error to [issues-19](https://github.com/royclarkson/spring-rest-service-oauth/issues/19) but in my case i do have two provider ldap and dao thus two UserDetailsService so i was not able to explicity set the sugessted solution in issue 19 .

[code]

[code]

[code]

[code]

[2018-11-29 10:23] shahbour commented on #55
I end up creating MultipleUserDetailsService , not sure if it is the correct approach but it do work

[code]

[2018-11-30 06:11] #55 closed, assigned to nobody

[2018-12-18 07:56] saeedcs opened #56 "Refresh token request doesn't work, when used with Spring Security OAuth 2.0.14"
Refresh token request doesn't work, when used with Spring Security OAuth 2.0.14 (again)

Server returns:
{"error":"server_error","error_description":"UserDetailsService is required."}

Server log:
TokenEndpoint -> Handling error: IllegalStateException, UserDetailsService is required.

[2018-12-19 11:23] #56 closed, assigned to nobody

[2018-12-19 11:23] saeedcs commented on #56
deleting the old tokens from the db and retrying fixed it

[2019-01-14 12:19] candyadmin commented on #19
thansks @mariubog

i use this mthod slove my 'IllegalStateException, UserDetailsService is required.' quetion

[2019-05-03 20:26] kmandeville commented on #19
I'm getting the exact same error trying to use refresh token to get an access token using Spring Security Oauth2 1.0.17. Is this bug ONLY fixed in 2.x? Is it possible I'm just missing some configuration?

[2019-05-06 17:42] kmandeville commented on #19
I figured it out. I have a @Bean configured that is a UserDetailsService, but my OAuth configuration where I configure an AuthorizationServerEndpointsConfigurer doesn't configure the userDetailsService, it just adds an authentication manager. If I inject my UserDetailsService to this class that sets up the rest of the config and add in setting of the userDetailsService in this Configurer, it all s

[2019-10-31 03:09] viktor commented on #19
@mariubog thanks for save the day.. I was doing some auth integrations today.

[2020-02-08 11:47] patrickHub commented on #19
Verison 2.0.5.RELEASE works for me. Thanks

[2020-05-22 11:51] prateektiwari7 opened #57 "'entityManagerFactory' in your configuration."
Description:

Parameter 0 of constructor in com.template.webserver.CustomUserDetailsService required a bean named 'entityManagerFactory' that could not be found.

Action:

Consider defining a bean named 'entityManagerFactory' in your configuration.

Can you please help. me to solve this problem.